<%= simple_form_for @pitch do |f|%>
  <%= f.error_notification %>

  <%= f.input :headline %>
  
  <%= f.input :description, :input_html => { :rows => 10, :style => 'resize:none;' }%>
  <div class='sources'>
    <%= f.simple_fields_for :sources do |source| %>
      <%= render 'source_fields', f: source %>
    <% end %>
    <div class='link'>
      <%= link_to_add_association 'Add source', f, :sources %>
    </div>
  </div>
  <%= f.input :complete_by %>
  <%= f.button :submit %>
<% end %>
